In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('Cars.csv')

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [4]:
df.shape

(398, 9)

In [5]:
column_name= df.columns.tolist()
print(column_name)

['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'name']

In [6]:
df.name=df.index

In [7]:
unique_val= df['mpg'].unique().tolist()
print(unique_val)

[18.0, 15.0, 16.0, 17.0, 14.0, 24.0, 22.0, 21.0, 27.0, 26.0, 25.0, 10.0, 11.0, 9.0, 28.0, 19.0, 12.0, 13.0, 23.0, 30.0, 31.0, 35.0, 20.0, 29.0, 32.0, 33.0, 17.5, 15.5, 14.5, 22.5, 24.5, 18.5, 29.5, 26.5, 16.5, 31.5, 36.0, 25.5, 33.5, 20.5, 30.5, 21.5, 43.1, 36.1, 32.8, 39.4, 19.9, 19.4, 20.2, 19.2, 25.1, 20.6, 20.8, 18.6, 18.1, 17.7, 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3, 21.6, 16.2, 19.8, 22.3, 17.6, 18.2, 16.9, 31.9, 34.1, 35.7, 27.4, 25.4, 34.2, 34.5, 31.8, 37.3, 28.4, 28.8, 26.8, 41.5, 38.1, 32.1, 37.2, 26.4, 24.3, 19.1, 34.3, 29.8, 31.3, 37.0, 32.2, 46.6, 27.9, 40.8, 44.3, 43.4, 36.4, 44.6, 40.9, 33.8, 32.7, 23.7, 23.6, 32.4, 26.6, 25.8, 23.5, 39.1, 39.0, 35.1, 32.3, 37.7, 34.7, 34.4, 29.9, 33.7, 32.9, 31.6, 28.1, 30.7, 24.2, 22.4, 34.0, 38.0, 44.0]

In [8]:
df.index= df['horsepower']/df['weight']

In [29]:
df.sort_values("horsepower", ascending=False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0.053763,16.0,8,400.0,230.0,4278,9.5,73,usa,116
0.045445,12.0,8,455.0,225.0,4951,11.0,73,usa,95
0.072910,14.0,8,455.0,225.0,3086,10.0,70,usa,13
0.050847,14.0,8,455.0,225.0,4425,10.0,70,usa,8
0.050528,14.0,8,454.0,220.0,4354,9.0,70,usa,6
...,...,...,...,...,...,...,...,...,...
NaN,21.0,6,200.0,NaN,2875,17.0,74,usa,126
NaN,40.9,4,85.0,NaN,1835,17.3,80,europe,330
NaN,23.6,4,140.0,NaN,2905,14.3,80,usa,336
NaN,34.5,4,100.0,NaN,2320,15.8,81,europe,354
NaN,23.0,4,151.0,NaN,3035,20.5,82,usa,374

In [15]:
highmpg = df[df['mpg'] >= 35]

In [16]:
count= len(highmpg)

In [17]:
print(count)

36

In [18]:
filtered = df[(df['horsepower'] > 100) & (df['weight'] < 3000)]

In [20]:
most_com = filtered['origin'].value_counts().idxmax()

In [21]:
print(most_com)

usa

In [23]:
year_sort = df.groupby('model_year')['mpg'].mean()


best_year = year_sort.idxmax()
best_avg_mpg = year_sort.max()

In [24]:
print(best_year)

80

In [25]:
japanese_cars = df[df['origin'] == 'japan']

In [27]:
mean_acc = japanese_cars['acceleration'].mean()

In [28]:
print(mean_acc)

16.17215189873418